{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'shop:ShopHome' %}">E-Commerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'shop:ShopHome' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'shop:AboutUs' %}">About Us</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'shop:TrackingStatus' %}">Tracker</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'shop:ContactUs' %}">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
      <button type="button" class="btn btn-secondary mx-2" data-container="body" id="popcart"
              data-toggle="popover" data-placement="bottom" data-html="true">
                Cart(<span id="cart">0</span>)
    </button>
  </div>
</nav>
{% block css %}{% endblock css %}
{% block content %}{% endblock content %}
{% block js %}{% endblock js %}
</body>
</html>